---
permalink: attack.html
layout: main-layout.html
navigationClass: navattack
---

<div class="header">
  <img
    src="images/header_attack.jpg"
    width="943"
    height="407"
    border="0"
    usemap="#Home"
  />
  <map name="Home" id="Home">
    <area shape="rect" coords="51,314,597,382" href="http://www.azhoops.net/" />
  </map>
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>In-Ground Basketball Systems: ATTACK</h2>
  <div class="adjustimage">
    <img src="images/attack/attackAdjust.jpg" width="215px" />
  </div>
  <div class="description">
    <p>
      The ATTACK's 4" square post is 3/16" thick. That's 50% heavier than any
      other goal in its category. The bolt down anchor system allows you to take
      the goal with you when you move.
    </p>
    <p>
      Our EZ-Crank™ adjustment means players of any age, size or ability can
      change the rim height. To adjust, simply turn the crank handle. The ATTACK
      is infinitely adjustable from 10' to 5½'. The rim height indicator shows
      the height of the rim.
    </p>
    <p>
      First Team developed the "Spring Assist" which reduces the effort required
      to crank the goal. This is particularly beneficial for families with young
      children adjusting the unit.
    </p>
    <p>
      We offer a large selection of backboards and rims with the ATTACK so you
      can customize the unit to suit your needs and style of play. Our Response™
      tempered glass backboards offer the same look and authentic ball rebound
      enjoyed by college and professional players.
    </p>
    <p>
      For additional safety, pole padding and backboard padding can be added to
      any ATTACK package.
    </p>
  </div>
  <div class="clearfloat"></div>
  <h3>ATTACK PACKAGES</h3>
  <div class="fltlftpkg">
    <img src="images/attack/attackII.jpg" />
    <h4>ATTACK II</h4>
    <h4>$2794</h4>
    <ul class="content">
      <li>4" Attack Pole System</li>
      <li>36"x48" Acrylic Backboard (3/8" thick)</li>
      <li>Recreational Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg">
    <img src="images/attack/attackIII.jpg" />
    <h4>ATTACK III</h4>
    <h4>$3030</h4>
    <ul class="content">
      <li>4" Attack Pole System</li>
      <li>36"x54" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <img src="images/attack/attackSelect.jpg" />
    <h4>ATTACK SELECT</h4>
    <h4>$3130</h4>
    <ul class="content">
      <li>4" Attack Pole System</li>
      <li>36"x60" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg">
    <img src="images/attack/attackUltra.jpg" />
    <h4>ATTACK ULTRA</h4>
    <h4>$3381</h4>
    <ul class="content">
      <li>4" Attack Pole System</li>
      <li>36"x54" Tempered Glass Backboard</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <img src="images/attack/attackPro.jpg" />
    <h4>ATTACK PRO</h4>
    <h4>$3435</h4>
    <ul class="content">
      <li>4" Attack Pole System</li>
      <li>36"x60" Tempered Glass Backboard</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <div class="center">
    <a
      rel="gallery"
      href="images/attack/attackproinstalled.jpg"
      title="Attack Pro"
    >
      <img src="images/attack/attackproinstalled.jpg" width="225" />
    </a>
    <a
      rel="gallery"
      href="images/attack/attackultrainstalled.jpg"
      title="Attack Ultra"
    >
      <img src="images/attack/attackultrainstalled.jpg" width="225" />
    </a>
    <a
      rel="gallery"
      href="images/attack/attackselectinstalled.jpg"
      title="Attack Select"
    >
      <img src="images/attack/attackselectinstalled.jpg" width="225" />
    </a>
    <a
      rel="gallery"
      href="images/attack/attack3installed.jpg"
      title="Attack III"
    >
      <img src="images/attack/attack3installed.jpg" width="225" />
    </a>
    <a
      rel="gallery"
      href="images/attack/attackinstalled.jpg"
      title="Attack Basketball System"
    >
      <img src="images/attack/attackinstalled.jpg" width="225" />
    </a>
  </div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
