---
permalink: champ.html
layout: main-layout.html
navigationClass: navchamp
---

<div class="header">
  <img src="images/header_champ.jpg" width="943" height="407" />
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>In-Ground Basketball Systems: CHAMP</h2>
  <div class="adjustimage">
    <img src="images/champ/champAdjust.jpg" width="180px" />
  </div>
  <div class="description">
    <p>
      The Champ's 4"x4" 11 ga. steel post is 50% heavier than any goal of its
      kind. Our one piece, direct bury post design eliminates wobbling, rusting
      joints common with sectional type posts.
    </p>
    <p>
      Our Insta-Just™ height adjustment mechanism allows the Champ to adjust
      from 10' to 7 ½' in six inch increments. To adjust, use a broom handle to
      release the Insta-Just™ height regulator.
    </p>
    <p>
      A variety of backboards and rims are offered with the Champ so you can
      choose the Champ package that's right for you.
    </p>
    <p>
      For additional safety, pole padding and backboard padding can be added to
      any Champ package.
    </p>
  </div>
  <div class="clearfloat"></div>
  <h3>CHAMP PACKAGES</h3>
  <div class="fltlftpkg">
    <img src="images/champ/champII.jpg" />
    <h4>CHAMP II</h4>
    <h4>$1397</h4>
    <ul class="content">
      <li>4" Square Post</li>
      <li>Champ Arm System</li>
      <li>36"x48" Acrylic Backboard (3/8" thick)</li>
      <li>Recreational Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg">
    <img src="images/champ/champIII.jpg" />
    <h4>CHAMP III</h4>
    <h4>$1490</h4>
    <ul class="content">
      <li>4" Square Post</li>
      <li>Champ Arm System</li>
      <li>36"x54" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <img src="images/champ/champSelect.jpg" />
    <h4>CHAMP SELECT</h4>
    <h4>$1629</h4>
    <ul class="content">
      <li>4" Square Post</li>
      <li>Champ Arm System</li>
      <li>36"x60" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <div class="center">
    <a
      rel="gallery"
      href="images/champ/champ_system_1.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ_system_1.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/champ/champ_system_2.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ_system_2.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/champ/champ_system_3.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ_system_3.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/champ/champ_system_4.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ_system_4.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/champ/champ_system_5.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ_system_5.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/champ/champ_system_6.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ_system_6.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/champ/champ_system_7.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ_system_7.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/champ/champ_system_8.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ_system_8.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/champ/champ_system_9.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ_system_9.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/champ/champ_system_10.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ_system_10.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/champ/champ3installed.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ3installed.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/champ/champ1.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ1.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/champ/champ2.jpg"
      title="Champ Basketball System"
    >
      <img src="images/champ/champ2.jpg" height="160" />
    </a>
  </div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
