---
permalink: contact.html
layout: main-layout.html
navigationClass: navpool
---

<div class="header">
  <img src="images/header_pool.jpg" width="943" height="407" />
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>Contact AZHoops Using Any Method Below!</h2>
  <br />
  <p>Telephone - 602-AZ-HOOPS (602-294-6677)</p>
  <p>FAX - 480-496-7212</p>
  <p>Postal address <br />16710 E. Ryan Rd <br />Gilbert, AZ 85297</p>
  <p>
    E-mail: General Information -
    <a href="mailto:john@azhoops.net">john@azhoops.net</a>
  </p>
  <br />
  <p></p>
  <form
    method="POST"
    action="https://formspree.io/john@azhoops.net"
    id="contact-area"
  >
    <label for="Name">Name:</label>
    <input
      type="text"
      name="Name"
      id="Name"
      value=""
      class="required"
      required
    />
    <label for="Sport"
      >Sport (Basketball, Soccer, Football, Volleyball, Lacross):</label
    >
    <input type="text" name="Sport" id="Sport" value="" />
    <label for="Address">Street Address:</label>
    <input type="text" name="Address" id="Address" value="" class="required" />
    <label for="City">City / State / Zip Code:</label>
    <input type="text" name="City" id="City" value="" class="required" />
    <label for="Phone">Phone Number:</label>
    <input type="text" name="Phone" id="Phone" value="" class="required" />
    <label for="Email">E-mail Address:</label>
    <input
      type="text"
      name="Email"
      id="Email"
      value=""
      class="required email"
      required
    />
    <label for="Contact"
      >Preferred Method of Contact (Mail, Phone, or E-mail):</label
    >
    <input type="text" name="Contact" id="Contact" value="" class="required" />
    <input type="text" name="_gotcha" style="display: none" />
    <input type="submit" name="submit" value="Submit" class="submit-button" />
  </form>
</div>
