---
permalink: contact.html
layout: main-layout.html
navigationClass: navpool
---

<div class="header">
  <img src="images/header_pool.jpg" width="943" height="407" />
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>Contact AZHoops Using Any Method Below!</h2>
  <br />
  <p>Telephone - 602-AZ-HOOPS (602-294-6677)</p>
  <p>Postal address <br />16710 E. Ryan Rd <br />Gilbert, AZ 85297</p>
  <p>
    E-mail: General Information -
    <a href="mailto:john@azhoops.net">john@azhoops.net</a>
  </p>
  <br />
  <p></p>
  <form
    method="POST"
    action="https://formspree.io/john@azhoops.net"
    id="contact-area"
  >
    <div>
      <label for="Name">Name<span class="red">*</span></label>
      <input
        type="text"
        name="Name"
        id="Name"
        value=""
        class="required"
        required
      />
    </div>
    <div>
      <label for="Sport">Sport<span class="red">*</span></label>
      <select name="Sport" id="Sport" class="required">
        <option value="Basketball" selected>Basketball</option>
        <option value="Volleyball">Volleyball</option>
        <option value="Pickleball">Pickleball</option>
        <option value="Soccer">Soccer</option>
        <option value="Football">Football</option>
        <option value="Lacrosse">Lacrosse</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div>
      <label for="Address">Street Address</label>
      <input
        type="text"
        name="Address"
        id="Address"
        value=""
        class="required"
      />
    </div>
    <div>
      <label for="City">City / State / Zip Code</label>
      <input type="text" name="City" id="City" value="" class="required" />
    </div>
    <div>
      <label for="Phone">Phone Number:</label>
      <input type="text" name="Phone" id="Phone" value="" class="required" />
    </div>
    <div>
      <label for="Email">E-mail Address<span class="red">*</span></label>
      <input
        type="text"
        name="Email"
        id="Email"
        value=""
        class="required email"
        required
      />
    </div>
    <div>
      <label for="Contact">Preferred Method of Contact</label>
      <select name="Contact" id="Contact" class="required">
        <option value="Email" selected>Email</option>
        <option value="Phone">Phone</option>
        <option value="Mail">Mail</option>
      </select>
    </div>
    <div>
      <input type="text" name="_gotcha" style="display: none" />
      <input type="submit" name="submit" value="Submit" class="submit-button" />
    </div>
  </form>
</div>
