---
permalink: fixed-height-hoops.html
layout: main-layout.html
navigationClass: navfixed
---

<div class="header">
  <img src="images/header_fixed.jpg" width="943" height="407" />
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>Fixed-Height Basketball Systems</h2>
  <p>
    AZ Hoops offers multiple models of fixed-height hoops. Commercial hoops
    feature steel backboards and unbreakable rims. These are the perfect
    solution to neighborhood park courts! Every model is customizable with
    different backboard models and rims.
  </p>
  <p>
    <a href="contact.html">Contact us</a> to see the different types and prices!
  </p>
  <div class="center">
    <img src="images/fixed/fixedcatalog1.jpg" height="400px" />
    <img src="images/fixed/fixedcatalog2.jpg" height="400px" />
    <img src="images/fixed/fixedcatalog3.jpg" height="400px" />
  </div>
  <br />
  <div class="center">
    <a
      rel="gallery"
      href="images/fixed/fixed_system_1.JPG"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed_system_1.JPG" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/fixed/fixed_system_2.jpg"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed_system_2.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/fixed/fixed_system_3.jpg"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed_system_3.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/fixed/fixed_system_4.jpg"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed_system_4.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/fixed/fixed_system_5.jpg"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed_system_5.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/fixed/fixed_system_6.jpg"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed_system_6.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/fixed/fixed_system_7.jpg"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed_system_7.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/fixed/fixed_system_8.jpg"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed_system_8.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/fixed/fixed_system_9.jpg"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed_system_9.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/fixed/fixed_system_10.jpg"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed_system_10.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/fixed/fixed1.jpg"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed1.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/fixed/fixed2.jpg"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed2.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/fixed/fixed3.jpg"
      title="Fixed Basketball Hoop"
    >
      <img src="images/fixed/fixed3.jpg" height="160" />
    </a>
  </div>
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
