---
permalink: force.html
layout: main-layout.html
navigationClass: navforce
---

<div class="header">
  <img src="images/header_force.jpg" width="943" height="407" />
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>In-Ground Basketball Systems: FORCE</h2>
  <div class="adjustimage">
    <img src="images/force/forceAdjust.jpg" width="215px" />
  </div>
  <div class="description">
    <p>
      The ATTACK's 4" square post is 3/16" thick. That's 50% heavier than any
      other goal in its category. The bolt down anchor system allows you to take
      the goal with you when you move.
    </p>
    <p>
      Our EZ-Crank™ adjustment means players of any age, size or ability can
      change the rim height. To adjust, simply turn the crank handle. The ATTACK
      is infinitely adjustable from 10' to 5½'. The rim height indicator shows
      the height of the rim.
    </p>
    <p>
      First Team developed the "Spring Assist" which reduces the effort required
      to crank the goal. This is particularly beneficial for families with young
      children adjusting the unit.
    </p>
    <p>
      We offer a large selection of backboards and rims with the ATTACK so you
      can customize the unit to suit your needs and style of play. Our Response™
      tempered glass backboards offer the same look and authentic ball rebound
      enjoyed by college and professional players.
    </p>
    <p>
      For additional safety, pole padding and backboard padding can be added to
      any FORCE package.
    </p>
  </div>
  <div class="clearfloat"></div>
  <h3>FORCE PACKAGES</h3>
  <div class="fltlftpkg">
    <img src="images/force/forceIII.jpg" />
    <h4>FORCE III</h4>
    <h4>$3286</h4>
    <ul class="content">
      <li>5" Force Pole System</li>
      <li>36"x54" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg">
    <img src="images/force/forceSelect.jpg" />
    <h4>FORCE SELECT</h4>
    <h4>$3392</h4>
    <ul class="content">
      <li>5" Force Pole System</li>
      <li>36"x60" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <img src="images/force/forceUltra.jpg" />
    <h4>FORCE ULTRA</h4>
    <h4>$3768</h4>
    <ul class="content">
      <li>5" Force Pole System</li>
      <li>36"x54" Tempered Glass Backboard</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg">
    <img src="images/force/forcePro.jpg" />
    <h4>FORCE PRO</h4>
    <h4>$3808</h4>
    <ul class="content">
      <li>5" Force Pole System</li>
      <li>36"x60" Tempered Glass Backboard</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="clearfloat"></div>
  <div class="center">
    <a
      rel="gallery"
      href="images/force/force_system_1.jpg"
      title="Force Basketball System"
    >
      <img src="images/force/force_system_1.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/force_system_2.jpg"
      title="Force Basketball System"
    >
      <img src="images/force/force_system_2.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/force_system_3.jpg"
      title="Force Basketball System"
    >
      <img src="images/force/force_system_3.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/force_system_4.jpg"
      title="Force Basketball System"
    >
      <img src="images/force/force_system_4.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/force_system_5.jpg"
      title="Force Basketball System"
    >
      <img src="images/force/force_system_5.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/force_system_6.jpg"
      title="Force Basketball System"
    >
      <img src="images/force/force_system_6.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/force_system_7.jpg"
      title="Force Basketball System"
    >
      <img src="images/force/force_system_7.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/force_system_8.jpg"
      title="Force Basketball System"
    >
      <img src="images/force/force_system_8.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/force3installed.jpg"
      title="Force III Basketball System"
    >
      <img src="images/force/force3installed.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/forceselectinstalled.jpg"
      title="Force Select Basketball System"
    >
      <img src="images/force/forceselectinstalled.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/forceultrainstalled.jpg"
      title="Force Ultra Basketball System"
    >
      <img src="images/force/forceultrainstalled.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/forceproinstalled.jpg"
      title="Force Pro Basketball System"
    >
      <img src="images/force/forceproinstalled.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/force1.jpg"
      title="Force Basketball System"
    >
      <img src="images/force/force1.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/force/force2.jpg"
      title="Force Basketball System"
    >
      <img src="images/force/force2.jpg" height="160" />
    </a>
  </div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
