---
permalink: hydrochamp.html
layout: main-layout.html
navigationClass: navhydrochamp
---

<div class="header">
  <img
    src="images/header_hydrochamp.jpg"
    width="943"
    height="407"
    border="0"
    usemap="#Home"
  />
  <map name="Home" id="Home">
    <area shape="rect" coords="49,312,600,385" href="http://www.azhoops.net/" />
  </map>
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}

<div class="content">
  <h2>In-Ground Basketball Systems: HYDROCHAMP</h2>
  <div class="adjustimage">
    <img src="images/hydrochamp/hydrochampAdjust.jpg" width="220px" />
  </div>
  <div class="description">
    <p>
      First Team's making a splash with the HydroChamp Adjustable Swimming Pool
      Basketball Goals! The HydroChamp Swimming Pool Basketball Hoop makes a
      great unit for adjustable poolside basketball. The bolt down 4"x4"
      stainless steel post and adjustable carbon steel arm system combine for a
      durable, economical and aesthetically pleasing poolside unit. All
      components are powdercoated black.
    </p>
    <p>
      To adjust the backboard height, simply release the adjustment mechanism
      located behind the rim. Unit has a 30" rim adjustment range, adjustable in
      6" increments.
    </p>
    <p>
      Unit is secured to swimming pool deck using anchor bolts supplied with
      unit. Anchor base cover is also included. Chose from three backboard sizes
      48", 54", 60". The HydroChamp Adjustable Swimming Pool Basketball Goal is
      the perfect unit for anyone looking for a high quality, professional
      looking poolside basketball unit. Give your pool the home court advantage
      with First Team's HydroChamp! Each HydroChamp Adjustable Swimming Pool
      Basketball Hoop package is covered by our Lifetime Limited Warranty!
    </p>
  </div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <h4>HYDROCHAMP II</h4>
    <h4>$3787</h4>
    <ul class="content">
      <li>4" HydroPost System</li>
      <li>Champ Arm System</li>
      <li>36"x48" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
    <p>Contact us at 602-294-6677 for discount pricing!</p>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <div class="center">
    <a rel="gallery" href="images/hydrochamp/hydrochamp-4.jpg">
      <img src="images/hydrochamp/hydrochamp-4.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/hydrochamp/hydrochamp-2.jpg">
      <img src="images/hydrochamp/hydrochamp-2.jpg" height="140" />
    </a>
  </div>
  <div class="center">
    <a rel="gallery" href="images/hydrochamp/hydrochamp-3.jpg">
      <img src="images/hydrochamp/hydrochamp-3.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/hydrochamp/hydrochamp-5.jpg">
      <img src="images/hydrochamp/hydrochamp-5.jpg" height="140" />
    </a>
  </div>
  <div class="center">
    <a rel="gallery" href="images/hydrochamp/hydrochamp-1.jpg">
      <img src="images/hydrochamp/hydrochamp-1.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/hydrochamp/hydrochamp-6.jpg">
      <img src="images/hydrochamp/hydrochamp-6.jpg" height="140" />
    </a>
  </div>
  <div class="center">
    <a rel="gallery" href="images/hydrochamp/hydrochamp-7.jpg">
      <img src="images/hydrochamp/hydrochamp-7.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/hydrochamp/hydrochamp-8.jpg">
      <img src="images/hydrochamp/hydrochamp-8.jpg" height="140" />
    </a>
  </div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
