---
permalink: index.html
layout: main-layout.html
navigationClass: navpool
---

<div class="header">
  <img
    src="images/header_pool.jpg"
    width="943"
    height="407"
    border="0"
    usemap="#Home"
  />
  <map name="Home" id="Home">
    <area
      shape="rect"
      coords="378,313,925,383"
      href="http://www.azhoops.net/"
    />
  </map>
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <div class="fltlft">
    <h2>Who Are We?</h2>
    <p>
      AZ Hoops is the leader in sales and professional installation of in-ground
      and portable basketball hoops. We also offer swimming pool hoops. AZ Hoops
      has a wide variety of basketball systems to fit any home and budget. We
      carry a variety of backboards. We proudly feature First Team premium
      basketball equipment, made in the USA, carrying the best warranty on the
      market.
    </p>
    <h2>In-Ground Basketball Systems</h2>
    <p>
      Direct-bury poles in concrete or the unique anchor system allow perfect
      pole leveling and easy pole removal if you move. The in-ground basketball
      systems have acrylic or glass backboards with breakaway flex rims. Larger
      hoops have the rare First Team warranty that allows dunking activity as
      well as players hanging on the rim. Adjustable height for basketball
      players of all ages. Unlike department store hoops, First Team basketball
      goals add appeal to your home.
    </p>
    <h2>Portable Basketball Systems</h2>
    <p>
      No more flimsy portable basketball hoops that get blown over by the wind
      and damaged. With no hole to dig and no concrete to pour, you still can
      have a high quality basketball hoop within most homeowners' associations'
      regulations. First Team portable basketball goals, while rigid and sturdy,
      can be folded and rolled into your garage or storage area. First Team
      basketball systems are adjustable in height with choices of acrylic or
      glass backboards and breakaway flex rims.
    </p>
    <hr />
    <h2>Pool Hoops</h2>
    <p>
      No more sloppy, tin, round pole in a round, water-retaining rusty sleeve.
      First Team's Hydroshot swimming pool hoop is constructed of stainless
      steel and will never rust. With stainless steel anchor bolts, this hoop is
      as tough as it gets for rough swimming pool basketball. The Hydroshot pool
      hoop has the most over hang available for safe, unobstructed play from the
      cool deck edge. You don't have to like basketball to enjoy swimming pool
      basketball. Because the Hydroshot swimming pool basketball goal is height
      adjustable, it will provide hours of great fun for the entire family.
    </p>
    <h2>Playing Courts</h2>
    <p>
      For your convenience, we have included the
      <a href="paintdiagram.html">paint diagram</a> for your basketball court.
    </p>
    <h2>AZ Hoops Photo Gallery</h2>
    <p>
      Feel free to enter our photo gallery to see some of the quality work we
      can do for you and your future basketball court.
    </p>
  </div>
  <div class="fltrt">
    <img src="images/home1.jpg" width="170" />
    <br />
    <br />
    <img src="images/home2.jpg" width="170" />
    <br />
    <br />
    <img src="images/home3.jpg" width="170" />
  </div>
</div>
