---
permalink: jam.html
layout: main-layout.html
navigationClass: navjam
---

<div class="header">
  <img
    src="images/header_jam.jpg"
    width="943"
    height="407"
    border="0"
    usemap="#Home"
  />
  <map name="Home" id="Home">
    <area shape="rect" coords="49,312,600,385" href="http://www.azhoops.net/" />
  </map>
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>In-Ground Basketball Systems: JAM</h2>
  <div class="adjustimage">
    <img src="images/jam/jamAdjust.jpg" width="175px" />
  </div>
  <div class="description">
    <p>
      The Jam basketball system includes our heavy 11ga. 4"x4" post design that
      eliminates the risk of joint deterioration common with sectional type
      posts.
    </p>
    <p>
      Our spring-aided EZ-Crank™ allows effortless rim height adjustment
      anywhere between 10' and 7'. The rim height indicator located on the back
      of the unit accurately shows rim height.
    </p>
    <p>
      All Jam packages include a breakaway goal and a net. A variety of acrylic
      backboards are available, ranging in size from 36"x48" to 36"x60". Choose
      the package that best suits your court.
    </p>
    <p>
      For additional safety, pole padding and backboard padding can be added to
      any Jam package.
    </p>
  </div>
  <div class="clearfloat"></div>
  <h3>JAM PACKAGES</h3>
  <div class="fltlftpkg">
    <img src="images/jam/jamII.jpg" />
    <h4>JAM II</h4>
    <h4>$2072</h4>
    <ul class="content">
      <li>4" Square Post</li>
      <li>Slam Arm System</li>
      <li>36"x48" Acrylic Backboard (3/8" thick)</li>
      <li>Recreational Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg">
    <img src="images/jam/jamIII.jpg" />
    <h4>JAM III</h4>
    <h4>$2286</h4>
    <ul class="content">
      <li>4" Square Post</li>
      <li>Slam Arm System</li>
      <li>36"x54" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <img src="images/jam/jamSelect.jpg" />
    <h4>JAM SELECT</h4>
    <h4>$2466</h4>
    <ul class="content">
      <li>4" Square Post</li>
      <li>Slam Arm System</li>
      <li>36"x60" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <div class="center">
    <a rel="gallery" href="images/jam/jam1.jpg" title="Jam">
      <img src="images/jam/jam1.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/jam/jam2.jpg" title="Jam">
      <img src="images/jam/jam2.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/jam/jam3.jpg" title="Jam">
      <img src="images/jam/jam3.jpg" width="225" />
    </a>
  </div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
