---
permalink: paintdiagram.html
layout: main-layout.html
navigationClass: navcolored
---

<div class="header">
  <img src="images/header_colored_concrete.jpg" width="943" height="407" />
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>Basketball Court Paint Diagrams</h2>
  <p>
    We will help you design your own personal basketball court in any shape or
    size that you would like. For a high resolution image of the court pictured
    below, just click on the picture. If you would like an Adobe PDF version,
    please click
    <a href="images/playingcourt.pdf">HERE</a> to download.
  </p>
  <div class="center">
    <a
      rel="gallery"
      href="images/playingcourt.jpg"
      title="Basketball Court Diagram"
    >
      <img src="images/playingcourt.jpg" width="600" />
    </a>
  </div>
  <br />
  <h4>Sample Basketball Courts</h4>
  <p>
    Please visit the
    <a href="in-ground-photo-gallery.html">photo gallery</a> to view some of our
    installed basketball courts.
  </p>
</div>
