---
permalink: pickleball.html
layout: main-layout.html
navigationClass: navtennis
---

<div class="header">
  <img src="images/header_tennis.jpg" width="943" height="407" />
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>PICKLEBALL</h2>
  <div class="clearfloat"></div>
  <div>
    <h4>EXTERNAL WINCH PICKLEBALL WITH FLOOR SOCKETS</h4>
    <h4>$2099</h4>
    <br />
    <h4>INTERNAL WINCH PICKLEBALL WITH FLOOR SOCKETS</h4>
    <h4>$2399</h4>
    <ul class="content">
      <li>Vinyl coated cable</li>
      <li>Black powdercoat finish</li>
      <li>Heavy duty quality net construction</li>
      <li>3.5" OD schedule 40 aluminum posts</li>
      <li>Safe and secure worm gear winch will not backdrive</li>
      <li>Quick detach handle</li>
      <li>Adjustable post collar</li>
      <li>All aluminum floor sockets will not rust</li>
    </ul>
    <br />
    <h4>FIRST TEAM FLOOR SOCKETS</h4>
    <h4>$499 each</h4>
    <br />
  </div>
  <div class="content">
    <h3>External Winch Pickleball with Hinged Sockets</h3>
  </div>
  <div class="center">
    <a rel="gallery" href="images/pickleball/floor-socket-7.jpg">
      <img src="images/pickleball/floor-socket-7.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/pickleball/floor-socket-8.jpg">
      <img src="images/pickleball/floor-socket-8.jpg" width="225" />
    </a>
  </div>
  <div class="content">
    <h3>Internal Winch Pickleball with Hinged Sockets</h3>
  </div>
  <div class="center">
    <a
      rel="gallery"
      href="images/pickleball/internal-winch-pickleball-net-1.jpg"
    >
      <img
        src="images/pickleball/internal-winch-pickleball-net-1.jpg"
        width="225"
      />
    </a>
    <a
      rel="gallery"
      href="images/pickleball/internal-winch-pickleball-net-2.jpg"
    >
      <img
        src="images/pickleball/internal-winch-pickleball-net-2.jpg"
        width="225"
      />
    </a>
  </div>
  <div class="center">
    <a
      rel="gallery"
      href="images/pickleball/internal-winch-pickleball-net-3.jpg"
    >
      <img
        src="images/pickleball/internal-winch-pickleball-net-3.jpg"
        width="225"
      />
    </a>
  </div>
  <div class="content">
    <h3>First Team Floor Sockets</h3>
  </div>
  <div class="center">
    <a rel="gallery" href="images/pickleball/floor-socket-1.jpg">
      <img src="images/pickleball/floor-socket-1.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/pickleball/floor-socket-2.jpg">
      <img src="images/pickleball/floor-socket-2.jpg" width="225" />
    </a>
  </div>
  <div class="center">
    <a rel="gallery" href="images/pickleball/floor-socket-5.jpg">
      <img src="images/pickleball/floor-socket-5.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/pickleball/floor-socket-6.jpg">
      <img src="images/pickleball/floor-socket-6.jpg" width="225" />
    </a>
  </div>
  <div class="center">
    <a rel="gallery" href="images/pickleball/first-team-floor-socket.jpg">
      <img src="images/pickleball/first-team-floor-socket.jpg" width="225" />
    </a>
  </div>
  <div class="content">
    <h3>Concrete finished pickleball courts</h3>
  </div>
  <div class="center">
    <a rel="gallery" href="images/pickleball/concrete-1.jpg">
      <img src="images/pickleball/concrete-1.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/pickleball/concrete-2.jpg">
      <img src="images/pickleball/concrete-2.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/pickleball/concrete-3.jpg">
      <img src="images/pickleball/concrete-3.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/pickleball/concrete-4.jpg">
      <img src="images/pickleball/concrete-4.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/pickleball/concrete-5.jpg">
      <img src="images/pickleball/concrete-5.jpg" width="225" height="126" />
    </a>
    <a rel="gallery" href="images/pickleball/concrete-6.jpg">
      <img src="images/pickleball/concrete-6.jpg" width="225" />
    </a>
  </div>
  <div class="content">
    <h3>Acrylic coated pickleball courts</h3>
  </div>
  <div class="center">
    <a rel="gallery" href="images/pickleball/acrylic-1.jpg">
      <img src="images/pickleball/acrylic-1.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/pickleball/acrylic-3.jpg">
      <img src="images/pickleball/acrylic-3.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/pickleball/acrylic-4.jpg">
      <img src="images/pickleball/acrylic-4.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/pickleball/acrylic-5.jpg">
      <img src="images/pickleball/acrylic-5.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/pickleball/acrylic-7.jpg">
      <img src="images/pickleball/acrylic-7.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/pickleball/acrylic-2.jpg">
      <img src="images/pickleball/acrylic-2.jpg" width="225" height="169" />
    </a>
  </div>
  <div class="content">
    <h3>Indoor pickleball courts</h3>
  </div>
  <div class="center">
    <a rel="gallery" href="images/pickleball/indoor-2.jpg">
      <img src="images/pickleball/indoor-2.jpg" width="225" height="140" />
    </a>
    <a rel="gallery" href="images/pickleball/indoor-3.jpg">
      <img src="images/pickleball/indoor-3.jpg" width="225" height="140" />
    </a>
  </div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
