---
permalink: pool-hoop-photo-gallery.html
layout: main-layout.html
navigationClass: navpool
---

<div class="header">
  <img
    src="images/header_pool.jpg"
    width="943"
    height="407"
    border="0"
    usemap="#Home"
  />
  <map name="Home" id="Home">
    <area
      shape="rect"
      coords="380,294,848,384"
      href="http://www.azhoops.net/"
    />
  </map>
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>Pool Basketball Hoop System Photo Gallery</h2>
  <p>Click on any image below for a larger view!</p>
</div>
