---
permalink: poolchamp.html
layout: main-layout.html
navigationClass: navpoolchamp
---

<div class="header">
  <img src="images/header_poolchamp.jpg" width="943" height="407" />
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>In-Ground Basketball Systems: POOL CHAMP</h2>
  <div>
    <p>
      Most swimming pools are constructed with a basketball sleeve in the deck
      surface. The round sleeves are very accommodating to almost any hoop
      system with a round post. One of the problems with the sleeve is that they
      retain water. The steel posts off all hoops will rust and deteriorate over
      time eventually causing post to fail and sometimes allow system to come
      crashing down.
    </p>
    <p>
      With the Pool Champ we utilize a aluminum post that will not rust. The
      Pool Champ is adjustable and has an adjustment range of 30 inches.
      Complete with an aluminum framed acrylic backboard and pro like flex rim
      the Pool Champ offers American made quality and great pool side appeal at
      an affordable price.
    </p>
  </div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <h4>POOL CHAMP II</h4>
    <h4>${{ price["Pool Champ II"] }}</h4>
    <ul class="content">
      <li>3.5" Aluminum Post</li>
      <li>Champ Arm System</li>
      <li>36"x48" Acrylic Backboard</li>
      <li>Recreational Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <h4>RUST RESISTANT POOL CHAMP II</h4>
    <h4>${{ price["Pool Champ II ZC"] }}</h4>
    <ul class="content">
      <li>3.5" Aluminum Post</li>
      <li>Rust Resistant Champ Arm System</li>
      <li>36"x48" Acrylic Backboard</li>
      <li>Rust Resistant Heavy Duty Flex Goal</li>
      <li>Stainless Steel Hardware</li>
    </ul>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <div class="center">
    <a rel="gallery" href="images/poolchamp/pool-champ-1.jpg">
      <img src="images/poolchamp/pool-champ-1.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-2.jpg">
      <img src="images/poolchamp/pool-champ-2.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-8.jpg">
      <img src="images/poolchamp/pool-champ-8.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-4.jpg">
      <img src="images/poolchamp/pool-champ-4.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-19.jpg">
      <img src="images/poolchamp/pool-champ-19.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-5.jpg">
      <img src="images/poolchamp/pool-champ-5.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-6.jpg">
      <img src="images/poolchamp/pool-champ-6.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-3.jpg">
      <img src="images/poolchamp/pool-champ-3.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-9.jpg">
      <img src="images/poolchamp/pool-champ-9.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-7.jpg">
      <img src="images/poolchamp/pool-champ-7.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-10.jpg">
      <img src="images/poolchamp/pool-champ-10.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-11.jpg">
      <img src="images/poolchamp/pool-champ-11.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-12.jpg">
      <img src="images/poolchamp/pool-champ-12.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-13.jpg">
      <img src="images/poolchamp/pool-champ-13.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-14.jpg">
      <img src="images/poolchamp/pool-champ-14.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-15.jpg">
      <img src="images/poolchamp/pool-champ-15.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-16.jpg">
      <img src="images/poolchamp/pool-champ-16.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-20.jpg">
      <img src="images/poolchamp/pool-champ-20.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-17.jpg">
      <img src="images/poolchamp/pool-champ-17.jpg" height="140" />
    </a>
    <a rel="gallery" href="images/poolchamp/pool-champ-18.jpg">
      <img src="images/poolchamp/pool-champ-18.jpg" height="140" />
    </a>
  </div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
