---
permalink: portable-basketball-hoops.html
layout: main-layout.html
navigationClass: navportable
---

<div class="header">
  <img
    src="images/header_portable.jpg"
    width="943"
    height="407"
    border="0"
    usemap="#Home"
  />
  <map name="Home" id="Home">
    <area shape="rect" coords="49,312,600,385" href="http://www.azhoops.net/" />
  </map>
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>Portable Basketball Systems</h2>
  <p>
    AZ Hoops offers multiple types of portable basketball systems. All portable
    hoops have adjustbale height cranks. Backboards and rims can be customized
    similar to the in-ground systems. Portable basketball hoops are perfect for
    residentials yards, as well as indoor church and community activity halls.
  </p>
  <p>
    <a href="contact.html">Contact us</a> to see the different types and prices!
  </p>
  <div class="center">
    <img src="images/other/rampage.jpg" height="450px" />
    <img src="images/other/fury.jpg" height="450px" />
    <img src="images/portable/portablecatalog.jpg" height="450px" />
  </div>
  <br />
  <div class="center">
    <a rel="gallery" href="images/portable/portable1.jpg" title="portable Hoop">
      <img src="images/portable/portable1.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/portable/portable2.jpg" title="portable Hoop">
      <img src="images/portable/portable2.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/portable/portable3.jpg" title="portable Hoop">
      <img src="images/portable/portable3.jpg" width="225" />
    </a>
    <a rel="gallery" href="images/portable/portable4.jpg" title="portable Hoop">
      <img src="images/portable/portable4.jpg" width="225" />
    </a>
  </div>
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
