---
permalink: rollasport.html
layout: main-layout.html
navigationClass: navportable
---

<div class="header">
  <img src="images/header_portable.jpg" width="943" height="407" />
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>Portable Basketball Systems: ROLLASPORT</h2>
  <p>
    The extension arm on the RollaSport is attached to the vertical post using
    two heavy duty U-bolts. Though the RollaSport is considered a "fixed-height"
    portable basketball goal, the U-bolts can be loosened, allowing the arm to
    be re-attached at any given height along the post.
  </p>
  <p>
    To transport the RollaSport, simply retract the vertical post, using the
    post actuator located on the base unit. As the post pitches back, the
    RollaSport lowers onto the transport wheel. Return the post to its vertical
    position for play. The goal rolls easily into any garage, or through any set
    of double doors. A high quality post pad covers the front of the unit.
  </p>
  <p>
    Backboards are available from 36" x 48" to 36" x 60", giving you a choice
    for your home court. No portable goal offers the same quality court time at
    such an excellent value as the RollaSport.
  </p>
  <h3>ROLLASPORT PACKAGES</h3>
  <div class="fltlftpkg">
    <h4>ROLLASPORT II</h4>
    <h4>${{price['RollaSport II']}}</h4>
    <ul class="content">
      <li>RollAbout Portable Base Unit</li>
      <li>RollAbout Base Padding</li>
      <li>Sport Arm System</li>
      <li>36"x48" Acrylic Backboard (3/8" thick)</li>
      <li>Recreational Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <h4>ROLLASPORT III</h4>
    <h4>${{price['RollaSport III']}}</h4>
    <ul class="content">
      <li>RollAbout Portable Base Unit</li>
      <li>RollAbout Base Padding</li>
      <li>Sport Arm System</li>
      <li>36"x48" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <h4>ROLLASPORT SELECT</h4>
    <h4>${{price['RollaSport Select']}}</h4>
    <ul class="content">
      <li>RollAbout Portable Base Unit</li>
      <li>RollAbout Base Padding</li>
      <li>Sport Arm System</li>
      <li>36"x60" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
