---
permalink: rollajam.html
layout: main-layout.html
navigationClass: navportable
---

<div class="header">
  <img
    src="images/header_portable.jpg"
    width="943"
    height="407"
    border="0"
    usemap="#Home"
  />
  <map name="Home" id="Home">
    <area shape="rect" coords="23,294,491,384" href="http://www.azhoops.net/" />
  </map>
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>Portable Basketball Systems: ROLLAJAM</h2>
  <p>
    There is nothing like the RollaJam! The RollaJam's unique design is the
    first premium grade, portable goal with the residential player in mind. The
    RollaJam is crank adjustable from regulation height of 10' down to 6'6". The
    crank handle is spring aided to make adjustments easy for all ages. The rim
    height indicator accurately shows rim location.
  </p>
  <p>
    To transport the RollaJam, simply retract the vertical post, using the post
    actuator located on the base unit. As the post pitches back, the unit lowers
    onto the transport wheel. Return the post to its vertical position for play.
    The goal rolls easily into any garage, or through any set of double doors. A
    high quality post pad covers the front of the unit.
  </p>
  <p>
    Customize the RollaJam by selecting the backboard and rim combo that fits
    your game! Choose First Team's RollaJam for your court. With no hole to dig
    and no concrete to pour, you'll be "Jammin" in no time with the RollaJam!
  </p>
  <h3>ROLLAJAM PACKAGES</h3>
  <div class="fltlftpkg">
    <h4>ROLLAJAM II</h4>
    <h4>$3057</h4>
    <ul class="content">
      <li>RollAbout Portable Base Unit</li>
      <li>RollAbout Base Padding</li>
      <li>Jam Arm System</li>
      <li>36"x48" Acrylic Backboard (3/8" thick)</li>
      <li>Recreational Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <h4>ROLLAJAM III</h4>
    <h4>$3141</h4>
    <ul class="content">
      <li>RollAbout Portable Base Unit</li>
      <li>RollAbout Base Padding</li>
      <li>Jam Arm System</li>
      <li>36"x48" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <h4>ROLLAJAM SELECT</h4>
    <h4>$3221</h4>
    <ul class="content">
      <li>RollAbout Portable Base Unit</li>
      <li>RollAbout Base Padding</li>
      <li>Jam Arm System</li>
      <li>36"x60" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
