---
permalink: slam.html
layout: main-layout.html
navigationClass: navslam
---

<div class="header">
  <img src="images/header_slam.jpg" width="943" height="407" />
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>In-Ground Basketball Systems: SLAM</h2>
  <div class="adjustimage">
    <img src="images/slam/slamAdjust.jpg" width="180px" />
  </div>
  <div class="description">
    <p>
      The Slam includes a heavy 4"x4" 11 ga. steel, direct bury post. Our one
      piece post design eliminates the potential for joint deterioration common
      with sectional posts.
    </p>
    <p>
      The Quik-Pin™ rim height adjustment design makes adjusting the Slam quick
      and easy. To adjust, simply pull the pin located on the back of the unit,
      lift the adjustment handle to the desired basketball rim height, replace
      the pin and you're ready for action. The Slam is adjustable from 10' to 7'
      in six inch increments. The Slam's spring aided design insures that
      adjustment is effortless.
    </p>
    <p>
      Various basketall backboards and rims are offered with the Slam so you can
      choose the Slam package that fits your family.
    </p>
    <p>
      For additional safety, pole padding and backboard padding can be added to
      any Slam package.
    </p>
  </div>
  <div class="clearfloat"></div>
  <h3>SLAM PACKAGES</h3>
  <div class="fltlftpkg">
    <img src="images/slam/slamII.jpg" />
    <h4>SLAM II</h4>
    <h4>${{ price['Slam II'] }}</h4>
    <ul class="content">
      <li>4" Square Post</li>
      <li>Slam Arm System</li>
      <li>36"x48" Acrylic Backboard (3/8" thick)</li>
      <li>Recreational Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg">
    <img src="images/slam/slamIII.jpg" />
    <h4>SLAM III</h4>
    <h4>${{ price['Slam III'] }}</h4>
    <ul class="content">
      <li>4" Square Post</li>
      <li>Slam Arm System</li>
      <li>36"x54" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="clearfloat"></div>
  <div class="fltlftpkg">
    <img src="images/slam/slamSelect.jpg" />
    <h4>SLAM SELECT</h4>
    <h4>${{ price['Slam Select'] }}</h4>
    <ul class="content">
      <li>4" Square Post</li>
      <li>Slam Arm System</li>
      <li>36"x60" Acrylic Backboard (1/2" thick)</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg"></div>
  <div class="clearfloat"></div>
  <div class="center">
    <a
      rel="gallery"
      href="images/slam/slam_system_1.jpg"
      title="Slam Basketball System"
    >
      <img src="images/slam/slam_system_1.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/slam/slam_system_2.jpg"
      title="Slam Basketball System"
    >
      <img src="images/slam/slam_system_2.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/slam/slam_system_3.jpg"
      title="Slam Basketball System"
    >
      <img src="images/slam/slam_system_3.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/slam/slam_system_4.jpg"
      title="Slam Basketball System"
    >
      <img src="images/slam/slam_system_4.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/slam/slam_system_5.jpg"
      title="Slam Basketball System"
    >
      <img src="images/slam/slam_system_5.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/slam/slam_system_6.jpg"
      title="Slam Basketball System"
    >
      <img src="images/slam/slam_system_6.jpg" height="160" />
    </a>

    <a
      rel="gallery"
      href="images/slam/slam2installed.jpg"
      title="Slam II Basketball System"
    >
      <img src="images/slam/slam2installed.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/slam/slamselectinstalled.jpg"
      title="Slam Select Basketball System"
    >
      <img src="images/slam/slamselectinstalled.jpg" height="160" />
    </a>
  </div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
