---
permalink: tennis-soccer-football-volleyball-lacross-equipment.html
layout: main-layout.html
navigationClass: navtennis
---

<div class="header">
  <img
    src="images/header_tennis.jpg"
    width="943"
    height="407"
    border="0"
    usemap="#Home"
  />
  <map name="Home" id="Home">
    <area shape="rect" coords="49,312,600,385" href="http://www.azhoops.net/" />
  </map>
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>Other Sports</h2>
  <div class="fltlftpkg">
    <h4>Tennis / Pickleball Posts &amp; Nets</h4>
    <p>
      AZ Hoops offers Tennis/<a href="pickleball.html">Pickleball</a>
      posts and nets. Our equipment has proven first rate for many years and
      utilizes our floor sockets as pictured.
    </p>
    <p>
      <a href="contact.html">Contact us</a> to see the different types and
      prices!
    </p>
  </div>
  <div class="fltrtpkg" style="text-align: right">
    <img
      src="images/tennis.jpg"
      width="220"
      style="margin-right: 40px;  margin-bottom: 10px"
    />
  </div>
  <div class="clearfloat" style="padding: 20px 0"></div>
  <div class="fltlftpkg">
    <h4>Soccer Goals</h4>
    <p>
      AZ Hoops offers many types of soccer goals, ranging from full-size
      portable and permanent, to small residential goals.
    </p>

    <p>
      <a href="contact.html">Contact us</a> to see the different types and
      prices!
    </p>
  </div>
  <div class="fltrtpkg">
    <img src="images/other/soccer-goal.jpg" width="320" />
  </div>
  <div class="clearfloat" style="padding: 20px 0"></div>
  <div class="fltlftpkg">
    <h4>Football Goalposts</h4>
    <p>
      AZ Hoops offers three different football goalpost models. All models are
      available in yellow and white, and allow verticle adjustment for college
      and high school regulation sizes. Post-pads are available with free
      lettering.
    </p>

    <p>
      <a href="contact.html">Contact us</a> to see the different types and
      prices!
    </p>
  </div>
  <div class="fltrtpkg">
    <img src="images/other/football-goalpost.jpg" />
  </div>
  <div class="clearfloat" style="padding: 20px 0"></div>
  <div class="fltlftpkg">
    <h4>Volleyball Systems and Nets</h4>
    <p>
      AZ Hoops offers many types of
      <a href="volleyball.html">volleyball systems</a>, ranging from indoor
      professional systems to outdoor recreational systems. Both single court
      and double-court options are available. All models include a crank-system
      and height-adjustment indicator.
    </p>

    <p>
      <a href="contact.html">Contact us</a> to see the different types and
      prices!
    </p>
  </div>
  <div class="fltrtpkg">
    <img src="images/other/volleyball-nets.jpg" width="200" />
  </div>
  <div class="clearfloat" style="padding: 20px 0"></div>
  <div class="fltlftpkg">
    <h4>Lacrosse Goals</h4>
    <p>
      AZ Hoops offers two models of lacrosse goals, the Warlord Competition and
      Warmonger Economy goal. Lacrosse goals have a 6'x6' opening and a V-shaped
      bottom frame.
    </p>
    <p>
      <a href="contact.html">Contact us</a> to see the different types and
      prices!
    </p>
  </div>
  <div class="fltrtpkg">
    <img src="images/other/lacross-goal.jpg" width="320" />
  </div>
  <div class="clearfloat" style="padding: 20px 0"></div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
