---
permalink: titan.html
layout: main-layout.html
navigationClass: navtitan
---

<div class="header">
  <img src="images/header_titan.jpg" width="943" height="407" />
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>In-Ground Basketball Systems: TITAN</h2>
  <div class="adjustimage">
    <img src="images/titan/titanAdjust.jpg" width="215px" />
  </div>
  <div class="description">
    <p>
      The Titan's massive 6" square, 3/16" thick vertical post and extra
      heavy-duty dual-strut extension arm provide the toughest, most rigid
      standard in the industry. The post is set back 4 feet from the backboard
      to maximize safety. The bolt down anchor footing allows you to easily
      remove the unit if you move.
    </p>
    <p>
      Our EZ-Crank™ adjustment means players of any age, size or ability can
      change the rim height. To adjust, simply turn the crank handle. The Titan
      is infinitely adjustable from 10' to 5½'. The rim height indicator shows
      the height of the rim.
    </p>
    <p>
      Our "Double Spring-Assist" makes raising and lowering the goal easier even
      with our regulation size 42"x72" backboards.
    </p>
    <p>
      First Team offers an array of backboards and rims with the Titan. Our
      Response™ tempered glass backboard provides the same look and authentic
      ball rebound enjoyed by college and professional players.
    </p>
    <p>
      For additional safety, pole padding and backboard padding can be added to
      any Titan package.
    </p>
  </div>
  <div class="clearfloat"></div>
  <h3>TITAN PACKAGES</h3>
  <div class="fltlftpkg">
    <img src="images/titan/titanSupreme.jpg" />
    <h4>TITAN SUPREME</h4>
    <h4>${{ price['Titan Supreme'] }}</h4>
    <ul class="content">
      <li>6" Titan Pole System</li>
      <li>42"x72" Acrylic Backboard</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="fltrtpkg">
    <img src="images/titan/titanArena.jpg" />
    <h4>TITAN ARENA</h4>
    <h4>${{ price['Titan Arena'] }}</h4>
    <ul class="content">
      <li>6" Titan Pole System</li>
      <li>42"x72" Tempered Glass Backboard</li>
      <li>Heavy Duty Flex Goal</li>
    </ul>
  </div>
  <div class="clearfloat"></div>
  <div class="center">
    <a
      rel="gallery"
      href="images/titan/titan_system_1.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan_system_1.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan_system_2.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan_system_2.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan_system_3.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan_system_3.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan_system_4.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan_system_4.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan_system_5.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan_system_5.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan_system_6.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan_system_6.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan_system_7.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan_system_7.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan_system_8.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan_system_8.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan_system_9.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan_system_9.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titansupremeinstalled.jpg"
      title="Titan Supreme Basketball System"
    >
      <img src="images/titan/titansupremeinstalled_s.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titanarenainstalled.jpg"
      title="Titan Arena Basketball System"
    >
      <img src="images/titan/titanarenainstalled.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan1.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan1.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan2.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan2.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan3.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan3.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan4.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan4.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan5.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan5.jpg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/titan/titan6.jpg"
      title="Titan Basketball System"
    >
      <img src="images/titan/titan6.jpg" height="160" />
    </a>
  </div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
