---
permalink: volleyball.html
layout: main-layout.html
navigationClass: navtennis
---

<div class="header">
  <img
    src="images/header_tennis.jpg"
    width="943"
    height="407"
    border="0"
    usemap="#Home"
  />
  <map name="Home" id="Home">
    <area shape="rect" coords="49,312,600,385" href="http://www.azhoops.net/" />
  </map>
  {% include 'mobile-menu.html' %}
</div>
{% include 'navigation.html' %}
<div class="content">
  <h2>Volleyball</h2>
  <div class="fltlftpkg">
    <h4>Volleyball Systems and Nets</h4>
    <p>
      Any size playing area indoors or out in sand, concrete, grass or turf we
      can custom a system to fit your needs. First Team's Stellar aluminum
      volleyball posts provide the flexibility and performance needed for
      today's demanding volleyball.
    </p>
    <p>
      The Stellar is manufactured from heavy wall 3 1/2" OD aluminum tubing yet
      is lightweight and easy to setup. The worm gear crank net tensioner will
      not back drive and is the same tensioner used in on our elite level
      volleyball units. Net height is easily adjusted, to adjust the net simply
      loosen the securing knob on each net collar and slide net up or down,
      twist knob tight to secure.
    </p>
    <p>
      Stellar units meet all NCAA, USVBA and National High School Federation
      rules. So, when you're searching for a volleyball post system that can
      meet your demands top to bottom, don't settle for less than a Stellar
      volleyball system!
    </p>
    <h4>Stellar Basic, no floor sockets - $2299</h4>
    <h4>Stellar Basic, with floor sockets - $3149</h4>
    <h4>
      Stellar Complete, with floor sockets, pole padding, net antenna - $3899
    </h4>
    <br />
    <p>
      <a href="contact.html">Contact us</a> to learn more or place an order for
      a Stellar volleyball system.
    </p>
  </div>
  <div class="fltrtpkg">
    <img
      src="images/volleyball/volleyball-stellar-system-first-team.png"
      width="300"
    />
  </div>
  <div class="clearfloat" style="padding: 20px 0"></div>
  <div class="center">
    <a
      rel="gallery"
      href="images/volleyball/volleyball_net_1.jpeg"
      title="Volleyball"
    >
      <img src="images/volleyball/volleyball_net_1.jpeg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/volleyball/volleyball_net_2.jpeg"
      title="Volleyball"
    >
      <img src="images/volleyball/volleyball_net_2.jpeg" height="160" />
    </a>
    <a
      rel="gallery"
      href="images/volleyball/volleyball_net_3.jpeg"
      title="Volleyball"
    >
      <img src="images/volleyball/volleyball_net_3.jpeg" height="160" />
    </a>
  </div>
  <br />
  <h4>How to Order or Receive More Information</h4>
  <p>
    To order one of our products, or to receive more information about it, feel
    free to contact us at 602-AZ-HOOPS (602-294-6677) or via the web by
    <a href="contact.html">clicking here</a>.
  </p>
</div>
