<div class="underlay"></div>
<div class="sidenav {{navigationClass}}">
  <h4>Our Company</h4>
  <ul class="nav">
    <li>
      <a href="index.html">Home Page</a>
    </li>
    <li>
      <a href="contact.html">Contact AZ Hoops</a>
    </li>
  </ul>
  <h4>In-Ground Systems</h4>
  <ul class="nav">
    <li>
      <a href="champ.html">Champ</a>
    </li>
    <li>
      <a href="slam.html">Slam</a>
    </li>
    <li>
      <a href="jam.html">Jam</a>
    </li>
    <li>
      <a href="attack.html">Attack</a>
    </li>
    <li>
      <a href="force.html">Force</a>
    </li>
    <li>
      <a href="titan.html">Titan</a>
    </li>
  </ul>
  <h4>Other Systems</h4>
  <ul class="nav">
    <li>
      <a href="portable-basketball-hoops.html">Portable Hoops</a>
    </li>
    <li>
      <a href="fixed-height-hoops.html">Fixed Height Hoops</a>
    </li>
    <li>
      <a href="tennis-soccer-football-volleyball-lacross-equipment.html"
        >Tennis / Soccer / Football</a
      >
    </li>
    <li>
      <a href="tennis-soccer-football-volleyball-lacross-equipment.html"
        >Volleyball / Lacross</a
      >
    </li>
    <li>
      <a href="pickleball.html">Pickleball</a>
    </li>
  </ul>
  <h4>Pool Hoops</h4>
  <ul class="nav">
    <li>
      <a href="poolchamp.html">Pool Champ</a>
    </li>
    <li>
      <a href="hydrochamp.html">HydroChamp</a>
    </li>
    <li>
      <a href="hydroshot.html">HydroShot</a>
    </li>
  </ul>
  <h4>Courts Photo Gallery</h4>
  <ul class="nav">
    <li>
      <a href="colored-concrete-photo-gallery.html">Colored Concrete</a>
    </li>
    <li>
      <a href="acrylic-courts-photo-gallery.html">Acrylic</a>
    </li>
    <li>
      <a href="any-size-photo-gallery.html">Any Size or Shape</a>
    </li>
    <li>
      <a href="custom-applications-photo-gallery.html">Custom Application</a>
    </li>
    <li>
      <a href="paintdiagram.html">Paint Diagram</a>
    </li>
  </ul>
</div>
<div class="navbottom"></div>
